body {
  background: cornsilk;
  background-image: url('./clue-success.png');
  background-repeat: no-repeat;
  background-position:center;
}

.pure-bottom {
  border-radius:1em;
  -webkit-border-radius: 1em;
}